@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !overflow-x-hidden;
  }
  body[data-modal='opened'] {
    @apply !overflow-hidden;
  }
}

@layer components {
  .sidebar-title {
    @apply !py-0.5 mt-1 m-0 md:mb-1 !px-1;
    @apply lg:first:top-0 lg:[&:not(:first-child)]:top-[20px] bg-medusa-bg-subtle rounded-md;
  }

  .sidebar-title .menu__link {
    @apply !px-0;
  }

  .sidebar-title .menu__link,
  .sidebar-title span {
    @apply !text-compact-medium-plus text-medusa-fg-base;
  }

  .sidebar-title .menu__link--active,
  .sidebar-title .menu__link:hover {
    @apply !bg-transparent;
  }

  .sidebar-group-headline {
    @apply mt-1 py-[6px] px-0;
  }

  .sidebar-group-headline:not(.theme-doc-sidebar-item-category-level-1) {
    @apply mb-[6px];
  }

  .sidebar-group-headline > .menu__link {
    @apply text-medusa-fg-base;
  }

  .sidebar-group-headline > .menu__list-item-collapsible > .menu__link {
    @apply text-medusa-fg-base !p-0;
  }

  .sidebar-group-headline
    > .menu__list-item-collapsible
    > .menu__link:not([href]) {
    @apply cursor-default;
  }

  .sidebar-group-headline > .menu__list-item-collapsible > .menu__link:not([href]) > .menu__link:hover,
  .sidebar-group-headline .menu__list-item-collapsible:hover {
    @apply !bg-transparent;
  }

  .sidebar-group-headline > .menu__link,
  .sidebar-group-headline > .menu__list-item-collapsible > .menu__link {
    @apply font-semibold;
  }

  .sidebar-group-divider {
    @apply pb-[6px] uppercase text-medusa-fg-muted text-compact-x-small-plus;
    @apply first:pt-[6px] [&:not(:first-child)]:!pt-2;
  }

  .sidebar-divider-line {
    @apply h-[1px] w-full bg-medusa-border-base my-1 mx-0;
  }

  .sidebar-back-link {
    @apply lg:sticky bg-[#EDEFF3] dark:bg-[#18181A] cursor-pointer lg:top-0 pb-[10px] md:pb-[20px];
  }

  .sidebar-back-link,
  .sidebar-title {
    @apply md:pb-[10px] lg:z-[100];
  }

  .sidebar-back-link .menu__link {
    @apply !p-0 hover:!bg-transparent hover:text-medusa-fg-base;
  }

  .sidebar-back-link .menu__link,
  .sidebar-back-link span {
    @apply text-compact-small-plus;
  }

  .sidebar-back-link .sidebar-item-icon {
    @apply mr-0.5;
  }

  .sidebar-soon-link {
    @apply pointer-events-none [&_*]:text-medusa-fg-disabled;
  }

  .sidebar-badge-wrapper {
    @apply flex justify-between items-center;
  }

  .search-page-input {
    @apply rounded border border-solid border-medusa-border-base;
    @apply font-base text-medium p-0.75 w-full bg-medusa-bg-subtle;
    @apply text-medusa-fg-base mb-1;
    @apply transition-[border] duration-200 ease-ease;
    @apply focus:border-medusa-border-base;
    @apply focus:outline-none !shadow-none;
  }

  .code-header {
    @apply py-0.75 px-1 bg-medusa-code-bg-header text-medusa-code-text-subtle text-[#a4a4b2];
    @apply flex justify-between items-center;
    @apply rounded-tl rounded-tr rounded-br-none rounded-bl-none border-b-0;
    @apply border border-solid border-medusa-code-border border-b-0;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .navbar-action-icon-item {
    @apply lg:bg-button-neutral lg:bg-medusa-button-neutral lg:dark:bg-button-neutral-dark;
    @apply lg:hover:bg-medusa-button-neutral-hover lg:hover:bg-no-image lg:hover:no-underline;
    @apply lg:active:bg-medusa-button-neutral-pressed lg:active:bg-no-image;
    @apply lg:focus:bg-medusa-button-neutral-pressed lg:focus:bg-no-image;
    @apply lg:lg:border lg:border-solid lg:border-medusa-border-base rounded;
    @apply w-2 h-2 flex justify-center items-center cursor-pointer;
  }

  .btn-clear {
    @apply bg-transparent shadow-none border-0 outline-none cursor-pointer;
  }

  .code-wrapper {
    @apply rounded;
  }

  /* Add text selection styling */
  .code-wrapper pre code::selection,
  .code-wrapper pre span::selection,
  .code-wrapper pre::selection {
    background-color: rgba(66, 153, 225, 0.5) !important; /* sky-blue with transparency */
    color: white !important;
  }

  .code-wrapper .selection\:bg-sky-700.selection\:text-green-400 pre code {
    @apply select-auto;
  }

  /* Add better styling for code blocks */
  .theme-code-block {
    @apply rounded overflow-hidden;
  }
}

:root {
  --docsearch-primary-color: #5f7cb4 !important;
}

html[data-theme='dark'] {
  --docsearch-primary-color: #213b6e !important;
}

.docsearch-modal-container {
  z-index: 1000 !important;
}

.docsearch-btn {
  height: 32px !important;
  font-size: 13px !important;
  background: #f9fafb !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  padding-right: 0 !important;
  color: rgb(75, 85, 99) !important;
}

.docsearch-btn-placeholder {
  font-size: 13px !important;
}

.docsearch-btn-keys {
  display: none !important;
}

.docsearch-btn:hover {
  background: #f3f4f6 !important;
  color: rgb(75, 85, 99) !important;
}

.docsearch-modal-btn-icon {
  width: 20px;
  height: 20px;
}

.height-100 {
    height: 100%;
}

.sidebar-group-headline > .menu__list-item-collapsible > .menu__link {
    padding: 0px !important;
    color: var(--ifm-menu-color);
}

.theme-doc-sidebar-item-category-level-1.sidebar-group-headline {
    margin-bottom: 6px;
    margin-top: 4px !important;
}

.sidebar-group-headline > .menu__list-item-collapsible {
    cursor: default;
    color: #fff;
}

html[data-theme='dark'] .docsearch-btn {
  background: #27282d !important;
  color: rgba(82, 82, 91, 1) !important;
  border: 1px solid rgba(53, 55, 60, 1) !important;
}

html[data-theme='dark'] .docsearch-btn:hover {
  background: rgba(53, 55, 60, 1) !important;
  color: rgba(82, 82, 91, 1) !important;
}

[data-theme='dark'] .alert--warning {
  background-color: rgba(69, 23, 27, 0.4);
}

@layer utilities {
  .clip {
    clip-path: inset(0);
  }
}

@import url('./_variables.css');

@import url('./_docusaurus.css');
@import url('./components/sidebar.css');
@import url('./components/toc.css');
@import url('./components/tooltip.css');
